﻿body {
  margin: 0;
  padding: 0;
}
.tracking-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
}
#tracking-chat {
  font-family: 'Open Sans', sans-serif;
  min-width: 250px;
  width: 15%;
  height: 350px;
  bottom: 2px;
  right: 2em;
  position: absolute;
  border: solid 1px #838183;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
}
#tracking-chat header {
  height: 35px;
  -moz-border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  width: 100%;
  padding: 10px 0 0 15px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#tracking-chat header span {
  background: url(/images/chat.svg) no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
#tracking-chat header #tracking-minimize {
  width: 16px;
  height: 16px;
  margin: 0 0 0 60%;
}
#tracking-chat header #tracking-minimize img {
  width: 10px;
  height: 4px;
}
#tracking-chat header #tracking-minimize:hover {
  background-color: #a9a8a9;
}
#tracking-chat div {
  height: 90%;
}
#tracking-chat div ul {
  background: #ffffff;
  list-style-type: none;
  height: 86%;
  overflow-y: scroll;
  margin: 0;
  padding: 0 10px 0 10px;
  background-color: #eeeeee;
  color: #000000;
}
#tracking-chat div ul li {
  height: auto;
  width: 60%;
  clear: both;
  font-size: 13px;
  background-color: #ffffff;
  margin: 0 0 5px 0;
  padding: 5px;
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.79);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.79);
}
#tracking-chat div ul .current-user {
  float: right;
}
#tracking-chat div ul .current-user img {
  float: right;
}
#tracking-chat div ul .other-user {
  float: left;
}
#tracking-chat div ul .other-user img {
  float: left;
}
#tracking-chat div div {
  height: 7%;
  background-color: #eeeeee;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
#tracking-chat div div img {
  width: 16px;
  height: 15px;
  padding: 7px 0 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
#tracking-chat div div span {
  margin: 10px 5px 0 10px;
  font-size: 10px;
  color: #000000;
}
#tracking-chat div form {
  height: 7%;
  border-top: solid 1px #838183;
}
#tracking-chat div form input {
  display: inline-block;
  height: 100%;
  width: 80%;
  border: none;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}
#tracking-chat div form button {
  background: #838183;
  display: inline-block;
  height: 100%;
  width: 20%;
  color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#tracking-chat .btn-enabled {
  background-color: #4ad762;
}
#tracking-chat .btn-disabled {
  background-color: #838183;
}
#tracking-chat button {
  margin: 0;
  padding: 0;
  border: none;
}
.chat-received {
  background-color: #4ad762;
}
.chat-read {
  background-color: #838183;
}
/*# sourceMappingURL=chat.css.map */