﻿@main-color: rgb(131, 129, 131);
@main-color-light: #eee;
@main-color-medium: rgb(169, 168, 169);
@light-color: white;
@positive-color: rgb(74, 215, 98);
@font-color: black;

body{
    margin: 0;
    padding: 0;
}

.tracking-cursor{
    position: absolute;
    width: 20px;
    height: 20px
}

#tracking-chat {
    font-family: 'Open Sans', sans-serif;
    min-width: 250px;
    width: 15%;
    height: 350px;
    bottom: 2px;
    right: 2em;
    position: absolute;
    border: solid 1px @main-color;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: @light-color;

    header {
        height: 35px;
        -moz-border-radius: 25px 25px 0 0;
        -webkit-border-radius: 25px 25px 0 0;
        border-radius: 25px 25px 0 0;
        width: 100%;
        padding: 10px 0 0 15px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        span {
            background: url(/images/chat.svg) no-repeat;
            background-size: contain;
            height: 16px;
            width: 16px;
            display: inline-block;
            margin: 0 10px 0 0;
        }

        #tracking-minimize {
            width: 16px;
            height: 16px;
            margin: 0 0 0 60%;

            img {
                width: 10px;
                height: 4px;
            }
        }

        #tracking-minimize:hover {
            background-color: @main-color-medium;
        }
    }

    div {
        height: 90%;

        ul {
            background: @light-color;
            list-style-type: none;
            height: 86%;
            overflow-y: scroll;
            margin: 0;
            padding: 0 10px 0 10px;
            background-color: @main-color-light;
            color: @font-color;

            li {
                height: auto;
                width: 60%;
                clear: both;
                font-size: 13px;
                background-color: @light-color;
                margin: 0 0 5px 0;
                padding: 5px;
                -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.79);
                -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.79);
                box-shadow: 1px 1px 10px rgba(0,0,0,0.79);
            }

            .current-user {
                float: right;

                img {
                    float: right;
                }
            }

            .other-user {
                float: left;

                img {
                    float: left;
                }
            }
        }

        div {
            height: 7%;
            background-color: @main-color-light;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;

            img {
                width: 16px;
                height: 15px;
                padding: 7px 0 0 0;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                overflow: visible;
            }

            span {
                margin: 10px 5px 0 10px;
                font-size: 10px;
                color: @font-color;
            }
        }

        form {
            height: 7%;
            border-top: solid 1px @main-color;

            input {
                display: inline-block;
                height: 100%;
                width: 80%;
                border: none;
                padding: 5px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: @font-color;
            }

            button {
                background: @main-color;
                display: inline-block;
                height: 100%;
                width: 20%;
                color: @light-color;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }

    .btn-enabled {
        background-color: @positive-color;
    }

    .btn-disabled {
        background-color: @main-color;
    }

    button {
        margin: 0;
        padding: 0;
        border: none;
    }
}

.chat-received {
    background-color: @positive-color;
}

.chat-read {
    background-color: @main-color;
}
